# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# miscellanous file types to ignore per assignment instructions
.vscode
*.project
*.classpath
*.class
*.jar
